<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.openclass.web</string>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>__PROJECT_DIR__</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__LAUNCH_BIN_DIR__/keep-web-up.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__NODE_BIN_DIR__:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>OPENCLASS_PROJECT_DIR</key>
    <string>__PROJECT_DIR__</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/openclass-web.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/openclass-web.log</string>
</dict>
</plist>
